.gallery_row{
	/*height:50%;*/
	padding-bottom: 2rem;
	padding-top: 2rem;
	margin-bottom:20px;
	
/*	
	border-bottom-color: black;
	border-bottom-style:solid;
	border-bottom-width:0.5px;
*/	
}


.text-left>p, .text-left>a>h3, .text-left>a>h4 {
	font-family: 'Fjalla One', sans-serif;	
}
/*
.text-center>p, .text-center>h3, .text-center>h4 {
	font-family: 'Fjalla One', sans-serif;	
}
*/

.gallery-head-image{
	height:auto;
	width:100%;
}

.gallery-info-container{
	margin-top:6%;
	
}
/*
hr{
	border-top: 1px solid #000 !important;
}
*/
/*
.hr_row {
	margin-top:5%;	
}
*/	
.gallery_info_separator {
	 border: 0;
	 border-bottom: 1px solid black;
    height: 2px;
    /*background: #333;*/
    /*background-image: linear-gradient(to right, #ccc, #333, #ccc);*/
    
    /*padding: 0.5px;*/
    
}

.bottom-left {
	opacity:1;
    position: absolute;
    bottom: 70%;
    /*left: 16px;*/
    /*visibility:hidden;*/
    color: white;
    display:none;
    font-family: 'Fjalla One', sans-serif;
    height:auto;
    width:60%;
    margin-left:5%;
    /*background-color:red;*/
    
}

.img-holder:hover .bottom-left {
	display:block;
}

.img-holder:hover {
	opacity:0.6;
	text-align:justify;
	color:#000000;
	font-size:20px;
	font-weight:700;
	/*font-family:"Times New Roman", Times, serif;*/
	/*padding:0px;*/
}

#home-info {
	font-size:20px;
	font-family: 'EB Garamond', serif;
}

.gallery_image{
	margin-bottom: 5px;
	height:auto;
}

.vide_gallery{
	margin-top:2%;
}

.vide_gallery>div{
	margin-top:2%;
}